/* ------------ABOUT AUTHOR----------- */
#footer_container {
  position: relative;
}

#footer_container {
  background-color: #f5f5f7;
}

#footer_info {
  margin: auto;
  display: grid;
}
#footer_contact {
  display: flex;
  flex-direction: column;
}

#footer_contact a {
  text-decoration: none;
  color: var(--secondary-color-footer);
  max-width: fit-content;
}
#footer_contact a:hover {
  text-decoration: underline;
}

#footer_location {
  display: flex;
  flex-direction: column;
  color: var(--secondary-color-footer);
}

/* MEDIA QUERYS */

/* iPad landscape */
@media only screen and (min-device-width: 768px) and (max-device-height: 1024px) and (orientation: landscape) {
  #footer_container img {
    width: 30px;
    position: absolute;
    bottom: 1em;
    left: 1em;
  }
  #footer_container {
    min-height: fit-content;
    padding: 7vh 0;
  }
  #footer_info {
    grid-template-columns: repeat(2, 1fr);
    max-width: 60%;
  }
  #footer_container a {
    font-size: 11px;
  }
  #footer_location small {
    font-size: 11px;
  }
}

/* Pixel 2XL */
@media only screen and (min-device-width: 411px) and (max-device-height: 823px) and (orientation: portrait) {
  #footer_container img {
    width: 30px;
    position: absolute;
    bottom: 1em;
    left: 1em;
  }
  #footer_container {
    min-height: fit-content;
    padding: 7vh 0;
  }
  #footer_info {
    grid-template-columns: repeat(2, 1fr);
    max-width: 60%;
  }
  #footer_contact a {
    font-size: 11px;
  }
  #footer_location small {
    font-size: 11px;
  }
}

/* Pixel 2 */
@media only screen and (min-device-width: 411px) and (max-device-height: 731px) and (orientation: portrait) {
  #footer_container img {
    width: 30px;
    position: absolute;
    bottom: 1em;
    left: 1em;
  }
  #footer_container {
    min-height: fit-content;
    padding: 7vh;
  }
  #footer_info {
    grid-template-columns: repeat(2, 1fr);
    max-width: 60%;
  }
  #footer_contact a {
    font-size: 11px;
  }
  #footer_location small {
    font-size: 11px;
  }
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) {
  #footer_container img {
    width: 30px;
    position: absolute;
    bottom: 1em;
    left: 1em;
  }
  #footer_container {
    min-height: fit-content;
    padding: 7vh 0;
  }
  #footer_info {
    grid-template-columns: repeat(2, 1fr);
    max-width: 80%;
  }
  #footer_contact a {
    font-size: 11px;
  }
  #footer_location small {
    font-size: 11px;
  }
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) {
  #footer_container img {
    width: 30px;
    position: absolute;
    bottom: 1em;
    left: 1em;
  }
  #footer_container {
    min-height: fit-content;
    padding: 7vh 0;
  }
  #footer_info {
    grid-template-columns: repeat(2, 1fr);
    max-width: 60%;
  }
  #footer_contact a {
    font-size: 11px;
  }
  #footer_location small {
    font-size: 11px;
  }
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) {
  #footer_container img {
    width: 30px;
    position: absolute;
    bottom: 1em;
    left: 1em;
  }
  #footer_container {
    min-height: fit-content;
    padding: 7vh 0;
  }
  #footer_info {
    grid-template-columns: repeat(2, 1fr);
    max-width: 60%;
  }
  #footer_contact a {
    font-size: 11px;
  }
  #footer_location small {
    font-size: 11px;
  }
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 413px) and (max-device-height: 737px) and (orientation: portrait) {
  #footer_container img {
    width: 30px;
    position: absolute;
    bottom: 1em;
    left: 1em;
  }
  #footer_container {
    min-height: fit-content;
    padding: 7vh;
  }
  #footer_info {
    grid-template-columns: repeat(2, 1fr);
    max-width: 70%;
  }
  #footer_contact a {
    font-size: 11px;
  }
  #footer_location small {
    font-size: 11px;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) {
  #footer_container img {
    width: 30px;
    position: absolute;
    bottom: 1em;
    left: 1em;
  }
  #footer_container {
    min-height: fit-content;
    padding: 7vh 0;
  }
  #footer_info {
    grid-template-columns: repeat(2, 1fr);
    max-width: 50%;
  }
  #footer_contact a {
    font-size: 11px;
  }
  #footer_location small {
    font-size: 11px;
  }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) {
  #footer_container img {
    width: 30px;
    position: absolute;
    bottom: 1em;
    left: 1em;
  }
  #footer_container {
    min-height: fit-content;
    padding: 7vh;
  }
  #footer_info {
    grid-template-columns: repeat(2, 1fr);
    max-width: 75%;
  }
  #footer_contact a {
    font-size: 11px;
  }
  #footer_location small {
    font-size: 11px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) {
  #footer_container img {
    width: 30px;
    position: absolute;
    bottom: 1em;
    left: 1em;
  }
  #footer_container {
    min-height: fit-content;
    padding: 7vh;
  }
  #footer_info {
    grid-template-columns: repeat(2, 1fr);
    max-width: 70%;
  }
  #footer_contact a {
    font-size: 11px;
  }
  #footer_location small {
    font-size: 11px;
  }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) {
  #footer_container img {
    width: 35px;
    position: absolute;
    left: 1em;
    bottom: 1em;
  }
  #footer_container {
    min-height: fit-content;
    padding: 7vh 0;
  }
  #footer_info {
    grid-template-columns: repeat(2, 1fr);
    max-width: 80%;
  }
  #footer_contact a {
    font-size: 11px;
  }
  #footer_location small {
    font-size: 11px;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) {
  #footer_container img {
    width: 30px;
    position: absolute;
    bottom: 1em;
    left: 1em;
  }
  #footer_container {
    min-height: fit-content;
    padding: 7vh;
  }
  #footer_info {
    grid-template-columns: repeat(2, 1fr);
    max-width: 70%;
  }
  #footer_contact a {
    font-size: 11px;
  }
  #footer_location small {
    font-size: 11px;
  }
}

/* imac--------------------------- */
@media only screen and (min-width: 2300px) and (min-height: 1250px) {
  #footer_container img {
    width: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 45%;
  }
  #footer_container {
    min-height: fit-content;
    padding: 5vh 0;
  }
  #footer_info {
    grid-template-columns: repeat(2, 1fr);
    max-width: 20%;
    margin: 0 0 0 15em;
  }
}

/* large screens ----------------- */
@media only screen and (min-width: 1823px) and (max-width: 2300px) {
  #footer_container img {
    width: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 45%;
  }
  #footer_container {
    min-height: fit-content;
    padding: 5vh 0;
  }
  #footer_info {
    grid-template-columns: repeat(2, 1fr);
    max-width: 25%;
    margin: 0 0 0 15em;
  }
}

/* -------1400px to 1823px------ */
@media only screen and (min-width: 1400px) and (max-width: 1823px) {
  #footer_container img {
    width: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 35%;
  }
  #footer_container {
    min-height: fit-content;
    padding: 7vh 0;
  }
  #footer_info {
    grid-template-columns: repeat(2, 1fr);
    max-width: 25%;
    margin: 0 0 0 5em;
  }
}

/* ------900 to 1400------ */
@media only screen and (min-width: 900px) and (max-width: 1400px) and (min-device-height: 1000px) {
  #footer_container img {
    width: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1%;
  }
  #footer_container {
    min-height: fit-content;
    padding: 7vh 0;
  }
  #footer_info {
    grid-template-columns: repeat(2, 1fr);
    max-width: 40%;
  }
}

/* ------600 to 900------ */
@media only screen and (min-width: 650px) and (max-width: 900px) and (min-device-height: 1000px) {
  #footer_container img {
    width: 80px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1%;
  }
  #footer_container {
    min-height: fit-content;
    padding: 7vh;
  }
  #footer_info {
    grid-template-columns: repeat(2, 1fr);
    max-width: 60%;
  }
}

/* ------300 to 650------ */
@media only screen and (min-width: 300px) and (max-width: 650px) and (min-device-height: 1000px) {
  #footer_container img {
    width: 70px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1%;
  }
  #footer_container {
    min-height: fit-content;
    padding: 7vh 0;
  }
  #footer_info {
    grid-template-columns: repeat(2, 1fr);
    max-width: 60%;
  }
  #footer_contact a {
    font-size: 13px;
  }
  #footer_location small {
    font-size: 13px;
  }
}

/* UNDER 300 */
@media only screen and (max-width: 300px) {
  #footer_container img {
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1%;
  }
  #footer_container {
    min-height: fit-content;
    padding: 6vh 0;
  }
  #footer_info {
    grid-template-columns: repeat(2, 1fr);
    max-width: 70%;
  }
  #footer_contact a {
    font-size: 9px;
  }
  #footer_location small {
    font-size: 9px;
  }
}
