#graphic_design_container {
  min-height: 40vh;
  text-align: center;
}
#graphic_design_container h1 {
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#graphic_design_container small {
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--small-text-color);
}

#graphic_design {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
}
#graphic_design h4 {
  text-align: left;
}

.item-box {
  background-color: beige;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.item-box-1 {
  background: url(/graphicDesigns/agenda.jpg);
  background-size: cover;
  text-align: left;
}
.item-box-2 {
  background: url(/graphicDesigns/notebook.jpg);
  background-size: cover;
}
.item-box-3 {
  background: url(/graphicDesigns/photoalbum.jpg);
  background-size: cover;
}
.item-box-4 {
  background: url(/makeupANDjewlry/facePaint.jpg);
  background-size: cover;
}
.item-box-5 {
  background: url(/makeupANDjewlry/jewelry.jpg);
  background-size: cover;
}

/* MEDIA QUERIES */

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-height: 1024px) and (orientation: landscape) {
  .item-box {
    width: 170px;
    height: 170px;
    margin-bottom: 0.5em;
    margin-right: 1em;
  }
  #graphic_design h4 {
    font-size: large;
  }
  #graphic_design {
    padding: 2em 0.5em;
    overflow-x: scroll;
    justify-content: start;
  }
  #graphic_design_container small {
    font-size: small;
    line-height: 120%;
  }
  #graphic_design_container h1 {
    font-size: x-large;
  }
  #graphic_design_container {
    padding: 5vh 0;
  }
}

/* Pixel 2XL */
@media only screen and (min-device-width: 411px) and (max-device-height: 823px) and (orientation: portrait) {
  .item-box {
    width: 150px;
    height: 150px;
    margin-bottom: 0.5em;
    margin-right: 1em;
  }
  #graphic_design h4 {
    font-size: large;
  }
  #graphic_design {
    padding: 2em 0.5em;
    overflow-x: scroll;
    justify-content: start;
  }
  #graphic_design_container small {
    font-size: x-small;
  }
  #graphic_design_container h1 {
    font-size: large;
  }
  #graphic_design_container {
    padding: 5vh 0;
  }
}

/* Pixel 2 */
@media only screen and (min-device-width: 411px) and (max-device-height: 731px) and (orientation: portrait) {
  .item-box {
    width: 150px;
    height: 150px;
    margin-bottom: 0.5em;
    margin-right: 1em;
  }
  #graphic_design h4 {
    font-size: large;
  }
  #graphic_design {
    padding: 2em 0.5em;
    overflow-x: scroll;
    justify-content: start;
  }
  #graphic_design_container small {
    font-size: x-small;
  }
  #graphic_design_container h1 {
    font-size: large;
  }
  #graphic_design_container {
    padding: 5vh 0;
  }
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) {
  .item-box {
    width: 150px;
    height: 150px;
    margin-bottom: 0.5em;
    margin-right: 1em;
  }
  #graphic_design h4 {
    font-size: large;
  }
  #graphic_design {
    padding: 2em 0.5em;
    overflow-x: scroll;
    justify-content: start;
  }
  #graphic_design_container small {
    font-size: x-small;
  }
  #graphic_design_container h1 {
    font-size: large;
  }
  #graphic_design_container {
    padding: 5vh 0;
  }
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) {
  .item-box {
    width: 150px;
    height: 150px;
    margin-bottom: 0.5em;
    margin-right: 1em;
  }
  #graphic_design h4 {
    font-size: large;
  }
  #graphic_design {
    padding: 2em 0.5em;
    overflow-x: scroll;
    justify-content: start;
  }
  #graphic_design_container small {
    font-size: x-small;
  }
  #graphic_design_container h1 {
    font-size: large;
  }
  #graphic_design_container {
    padding: 5vh 0;
  }
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) {
  .item-box {
    width: 150px;
    height: 150px;
    margin-bottom: 0.5em;
    margin-right: 1em;
  }
  #graphic_design h4 {
    font-size: large;
  }
  #graphic_design {
    padding: 2em 0.5em;
    overflow-x: scroll;
    justify-content: start;
  }
  #graphic_design_container small {
    font-size: x-small;
  }
  #graphic_design_container h1 {
    font-size: large;
  }
  #graphic_design_container {
    padding: 5vh 0;
  }
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 413px) and (max-device-height: 737px) and (orientation: portrait) {
  .item-box {
    width: 150px;
    height: 150px;
    margin-bottom: 0.5em;
    margin-right: 1em;
  }
  #graphic_design h4 {
    font-size: large;
  }
  #graphic_design {
    padding: 2em 0.5em;
    overflow-x: scroll;
    justify-content: start;
  }
  #graphic_design_container small {
    font-size: x-small;
  }
  #graphic_design_container h1 {
    font-size: large;
  }
  #graphic_design_container {
    padding: 5vh 0;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) {
  .item-box {
    width: 130px;
    height: 130px;
    margin-bottom: 0.5em;
    margin-right: 1em;
  }
  #graphic_design h4 {
    font-size: large;
  }
  #graphic_design {
    padding: 2em 0.5em;
    overflow-x: scroll;
    justify-content: start;
  }
  #graphic_design_container small {
    font-size: x-small;
    line-height: 120%;
  }
  #graphic_design_container h1 {
    font-size: large;
  }
  #graphic_design_container {
    padding: 5vh 0;
  }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) {
  .item-box {
    width: 150px;
    height: 150px;
    margin-bottom: 0.5em;
    margin-right: 1em;
  }
  #graphic_design h4 {
    font-size: large;
  }
  #graphic_design {
    padding: 2em 0.5em;
    overflow-x: scroll;
    justify-content: start;
  }
  #graphic_design_container small {
    font-size: x-small;
  }
  #graphic_design_container h1 {
    font-size: large;
  }
  #graphic_design_container {
    padding: 5vh 0;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) {
  .item-box {
    width: 130px;
    height: 130px;
    margin-bottom: 0.5em;
    margin-right: 1em;
  }
  #graphic_design h4 {
    font-size: large;
  }
  #graphic_design {
    padding: 2em 0.5em;
    overflow-x: scroll;
    justify-content: start;
  }
  #graphic_design_container small {
    font-size: x-small;
    line-height: 120%;
  }
  #graphic_design_container h1 {
    font-size: large;
  }
  #graphic_design_container {
    padding: 5vh 0;
  }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) {
  .item-box {
    width: 150px;
    height: 150px;
    margin-bottom: 0.5em;
    margin-right: 1em;
  }
  #graphic_design h4 {
    font-size: large;
  }
  #graphic_design {
    padding: 2em 0.5em;
    overflow-x: scroll;
    justify-content: start;
  }
  #graphic_design_container small {
    font-size: x-small;
  }
  #graphic_design_container h1 {
    font-size: large;
  }
  #graphic_design_container {
    padding: 5vh 0;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) {
  .item-box {
    width: 130px;
    height: 130px;
    margin-bottom: 0.5em;
    margin-right: 1em;
  }
  #graphic_design h4 {
    font-size: large;
  }
  #graphic_design {
    padding: 2em 0.5em;
    overflow-x: scroll;
    justify-content: start;
  }
  #graphic_design_container small {
    font-size: x-small;
    line-height: 120%;
  }
  #graphic_design_container h1 {
    font-size: large;
  }
  #graphic_design_container {
    padding: 5vh 0;
  }
}

/* large screens ----------------- */
@media only screen and (min-width: 1823px) {
  .item-box {
    width: 325px;
    height: 325px;
    margin-bottom: 0.5em;
  }
  #graphic_design {
    padding-top: 4em;
    max-width: 80%;
    margin: auto;
  }
  #graphic_design_container {
    padding: 15vh 0;
  }
}

/* -------1400px to 1823px------ */
@media only screen and (min-width: 1400px) and (max-width: 1823px) {
  .item-box {
    width: 275px;
    height: 275px;
    margin-bottom: 0.5em;
  }
  #graphic_design {
    padding: 4em 0.5em 0 0.5em;
  }
  #graphic_design_container {
    padding: 13vh 0;
  }
}

/* ------1100 to 1400------ */
@media only screen and (min-width: 1100px) and (max-width: 1400px) and (min-device-height: 1000px) {
  .item-box {
    width: 325px;
    height: 325px;
    margin-bottom: 0.5em;
  }
  #graphic_design {
    padding: 4em 2em 0 2em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5em;
    column-gap: 1em;
  }
  #graphic_design_container {
    padding: 12vh 0;
  }
}

/* -------900 to 1100---------- */
@media only screen and (min-width: 900px) and (max-width: 1100px) and (min-device-height: 1000px) {
  .item-box {
    width: 275px;
    height: 275px;
    margin-bottom: 0.5em;
  }
  #graphic_design {
    padding: 4em 1em 0 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5em;
    column-gap: 1em;
  }
  #graphic_design_container {
    padding: 15vh 0;
  }
}

/* ------600 to 900------ */
@media only screen and (min-width: 650px) and (max-width: 900px) and (min-device-height: 1000px) {
  .item-box {
    width: 285px;
    height: 285px;
    margin-bottom: 0.5em;
  }
  #graphic_design {
    padding: 4em 1em 0 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5em;
    column-gap: 1em;
  }
  #graphic_design_container {
    padding: 10vh 0;
  }
}

/* ------300 to 650------ */
@media only screen and (min-width: 300px) and (max-width: 650px) and (min-device-height: 1000px) {
  .item-box {
    width: 350px;
    height: 350px;
    margin-bottom: 0.5em;
  }
  #graphic_design {
    padding: 4em 1em 0 1em;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5em;
    max-width: fit-content;
    margin: auto;
  }
  #graphic_design_container {
    padding: 10vh 0;
  }
}
/* UNDER 300 */
@media only screen and (max-width: 300px) {
  .item-box {
    width: 130px;
    height: 130px;
    margin-bottom: 0.5em;
    margin-right: 1em;
  }
  #graphic_design h4 {
    font-size: large;
  }
  #graphic_design {
    padding: 2em 0.5em;
    overflow-x: scroll;
    justify-content: start;
  }
  #graphic_design_container small {
    font-size: x-small;
    line-height: 120%;
  }
  #graphic_design_container h1 {
    font-size: large;
  }
  #graphic_design_container {
    padding: 5vh 0;
  }
}
