@font-face {
  font-family: "dancing";
  src: url(/fonts/dancing/DancingScript-Bold.woff);
  src: url(/fonts/dancing/DancingScript-Bold.woff2);
  src: url(/fonts/dancing/DancingScript-Medium.woff);
  src: url(/fonts/dancing/DancingScript-Medium.woff2);
  src: url(/fonts/dancing/DancingScript-Regular.woff);
  src: url(/fonts/dancing/DancingScript-Regular.woff2);
  src: url(/fonts/dancing/DancingScript-SemiBold.woff);
  src: url(/fonts/dancing/DancingScript-SemiBold.woff2);
}

:root {
  --ease-15: all 1.5s ease;
  --ease-9: all 0.9s ease;
  --ease-6: all 0.6s ease;
  --ease-3: all 0.3s ease;
  --hover-color: purple;
  --dim-black: rgba(0, 0, 0, 0.2);
  --dimmer-black: rgba(0, 0, 0, 0.7);
  /* landing page colors */
  --main-color-landing-page: #222f3e;
  /* service page colors */
  --main-color-service-page: rgb(43, 41, 41);
  --secondary-color-service-page: rgb(43, 41, 41);
  /* business hours page colors */
  --main-color-business-hours-page: rgb(250, 250, 250);
  --secondary-color-business-hours-page: #222f3e;
  /* paintings page colors */
  --main-color-paintings-page: #222f3e;
  /* photography page colors */
  --main-color-photography-page: rgb(43, 41, 41);
  --secondary-color-photography-page: rgb(43, 41, 41);
  /* second importanve colors */
  --main-color-second-importance-page: rgb(43, 41, 41);
  --secondary-color-second-importance-page: rgb(255, 255, 255);
  /* about author colors */
  --main-color-second-author-page: rgb(255, 255, 255);
  --secondary-color-second-author-page: rgb(156, 125, 45);
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}

* {
  box-sizing: border-box;
}

/* ------COLLECTIVE STYLING------ */
.purple {
  color: purple;
}
/* buttons */

.light-btn {
  cursor: pointer;
  width: 120px;
  height: 38px;
  background: transparent;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
  transition: var(--ease-6);
}
.light-btn a {
  text-decoration: none;
  color: black;
}
.light-btn:hover a {
  color: #fff;
}
.light-btn:hover {
  background-color: black;
  color: #fff;
  transition: var(--ease-6);
}

.dark-btn {
  cursor: pointer;
  width: 110px;
  height: 38px;
  background-color: black;
  outline: none;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  transition: var(--ease-6);
}
.dark-btn:hover {
  background-color: #fff;
  color: black;
  transition: var(--ease-6);
}
