::-webkit-scrollbar {
  display: none;
}

/*  */
#paintings_container {
  text-align: center;
  position: relative;
  font-family: "SF Pro", Arial, Helvetica, sans-serif;
}
#paintings_container h1 {
  font-weight: bold;
}
.paintingsDisplayFormat {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: auto;
}
.card small {
  text-align: left;
}
.card {
  cursor: pointer;
  transition: var(--ease-6);
}
.card:hover {
  transform: scale(1.02);
  transition: var(--ease-6);
}

/* card modal/info on click */
.card-modal {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  position: fixed;
  align-items: center;
  z-index: 3;
  transition: var(--ease-6);
  border: 1px solid #c7c7c7;
  background-color: #fafafa;
  border-radius: 1em;
  margin: auto;
}
.card-modal-exit {
  position: absolute;
  top: 1em;
  right: 1em;
  color: rgb(172, 172, 172);
  cursor: pointer;
  transition: var(--ease-3);
}
.card-modal-exit:hover {
  color: var(--hover-color);
  transition: var(--ease-3);
}
.img-side img {
  align-self: center;
}

.card-modal .painting-modal-info {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.card-modal .painting-modal-info h2 {
  font-weight: bold;
}

.card-modal .painting-modal-info p {
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}

.card-modal .painting-modal-info span {
  text-decoration: underline;
}

/* image side styling */
.img-side {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: auto;
}
.img-side img {
  grid-row: 1/2;
  grid-column: 2/3;
}
.card-img-height {
  display: flex;
  border-right: 1px solid lightgray;
  align-items: center;
  grid-column: 1/2;
  grid-row: 1/2;
  height: 100%;
}
.card-img-width {
  border-top: 1px solid lightgray;
  padding: 5px;
  grid-row: 2/3;
  grid-column: 2/3;
}

/* MEDIA QUERIES */

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* page styling */
  .card small {
    padding: 8px 0 0 15px;
  }
  .card img {
    width: 350px;
    height: 215px;
  }
  .card {
    width: 350px;
    height: 250px;
  }
  .paintingsDisplayFormat {
    max-width: 95%;
    row-gap: 3em;
    column-gap: 1em;
    overflow-x: scroll;
  }
  .paintings_showcase {
    padding: 5em 0 5em 0;
  }
  #paintings_container h1 {
    font-size: 45px;
  }
  #paintings_container {
    padding-top: 7em;
  }
  /* MODAL STYLING */
  .img-side img {
    width: 350px;
  }
  .card-img-height {
    margin: 0 10px 0 0;
    font-size: small;
  }
  .card-img-width {
    margin: 10px 0 0 0;
    font-size: small;
  }
  .card-modal .painting-modal-info {
    text-align: center;
  }
  .card-modal .painting-modal-info h2 {
    font-size: 20px;
    padding: 0 0 10px 0;
    text-align: left;
  }
  .card-modal .painting-modal-info p {
    font-size: x-small;
    padding: 0 0 10px 0;
    text-align: justify;
  }
  .card-modal .painting-modal-info span {
    font-size: 9px;
    padding: 0 0 20px 0;
    text-align: left;
  }
  .card-modal .painting-modal-info small {
    font-size: x-small;
    text-align: left;
  }
  .card-modal {
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    padding: 2em;
    width: 800px;
    height: 500px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card-modal-exit {
    font-size: small;
  }
}

/* Pixel 2XL */

@media only screen and (min-device-width: 411px) and (max-device-height: 823px) and (orientation: portrait) {
  /* page styling */
  .card small {
    font-size: 12px;
    padding: 8px 0 0 15px;
  }
  .card img {
    width: 210px;
    height: 140px;
  }
  .card {
    width: 210px;
    height: 175px;
  }
  .paintingsDisplayFormat {
    max-width: 95%;
    row-gap: 1em;
    column-gap: 1em;
    overflow-x: scroll;
  }
  .paintings_showcase {
    padding: 2em 0 2em 0;
  }
  #paintings_container h4 {
    font-size: 15px;
  }
  #paintings_container h1 {
    font-size: 25px;
  }
  #paintings_container {
    padding-top: 5em;
  }
  /* MODAL STYLING */
  .img-side img {
    width: 240px;
  }
  .card-img-height {
    margin: 0 1em 0 0;
    font-size: small;
  }
  .card-img-width {
    margin: 1em 0 0 0;
    font-size: small;
  }
  .card-modal .painting-modal-info {
    text-align: center;
  }
  .card-modal .painting-modal-info h2 {
    font-size: 20px;
    padding: 0 0 10px 0;
  }
  .card-modal .painting-modal-info p {
    font-size: small;
    padding: 0 0 10px 0;
    text-align: center;
  }
  .card-modal .painting-modal-info span {
    font-size: 14px;
    padding: 0 0 20px 0;
  }
  .card-modal .painting-modal-info small {
    font-size: x-small;
  }
  .card-modal {
    grid-template-columns: 1fr;
    padding: 2em 1em;
    width: 340px;
    height: 550px;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card-modal-exit {
    font-size: small;
  }
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) {
  /* page styling */
  .card small {
    font-size: 12px;
    padding: 8px 0 0 15px;
  }
  .card img {
    width: 210px;
    height: 140px;
  }
  .card {
    width: 210px;
    height: 175px;
  }
  .paintingsDisplayFormat {
    max-width: 95%;
    row-gap: 1em;
    column-gap: 1em;
    overflow-x: scroll;
  }
  .paintings_showcase {
    padding: 2em 0 2em 0;
  }
  #paintings_container h4 {
    font-size: 15px;
  }
  #paintings_container h1 {
    font-size: 25px;
  }
  #paintings_container {
    padding-top: 5em;
  }
  /* MODAL STYLING */
  .img-side img {
    width: 240px;
  }
  .card-img-height {
    margin: 0 1em 0 0;
    font-size: small;
  }
  .card-img-width {
    margin: 1em 0 0 0;
    font-size: small;
  }
  .card-modal .painting-modal-info {
    text-align: center;
  }
  .card-modal .painting-modal-info h2 {
    font-size: 20px;
    padding: 0 0 10px 0;
  }
  .card-modal .painting-modal-info p {
    font-size: small;
    padding: 0 0 10px 0;
    text-align: center;
  }
  .card-modal .painting-modal-info span {
    font-size: 14px;
    padding: 0 0 20px 0;
  }
  .card-modal .painting-modal-info small {
    font-size: x-small;
  }
  .card-modal {
    grid-template-columns: 1fr;
    padding: 2em 1em;
    width: 340px;
    height: 550px;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card-modal-exit {
    font-size: small;
  }
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) {
  /* page styling */
  .card small {
    font-size: 12px;
    padding: 8px 0 0 15px;
  }
  .card img {
    width: 210px;
    height: 140px;
  }
  .card {
    width: 210px;
    height: 175px;
  }
  .paintingsDisplayFormat {
    max-width: 95%;
    row-gap: 1em;
    column-gap: 1em;
    overflow-x: scroll;
  }
  .paintings_showcase {
    padding: 2em 0 2em 0;
  }
  #paintings_container h4 {
    font-size: 15px;
  }
  #paintings_container h1 {
    font-size: 25px;
  }
  #paintings_container {
    padding-top: 5em;
  }
  /* MODAL STYLING */
  .img-side img {
    width: 250px;
  }
  .card-img-height {
    margin: 0 1em 0 0;
    font-size: small;
  }
  .card-img-width {
    margin: 1em 0 0 0;
    font-size: small;
  }
  .card-modal .painting-modal-info {
    text-align: center;
  }
  .card-modal .painting-modal-info h2 {
    font-size: 20px;
    padding: 0 0 10px 0;
  }
  .card-modal .painting-modal-info p {
    font-size: small;
    padding: 0 0 10px 0;
    text-align: center;
  }
  .card-modal .painting-modal-info span {
    font-size: 14px;
    padding: 0 0 20px 0;
  }
  .card-modal .painting-modal-info small {
    font-size: x-small;
  }
  .card-modal {
    grid-template-columns: 1fr;
    padding: 2em 1em;
    width: 340px;
    height: 550px;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card-modal-exit {
    font-size: small;
  }
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 413px) and (max-device-height: 737px) and (orientation: portrait) {
  /* page styling */
  .card small {
    font-size: 12px;
    padding: 8px 0 0 15px;
  }
  .card img {
    width: 210px;
    height: 140px;
  }
  .card {
    width: 210px;
    height: 175px;
  }
  .paintingsDisplayFormat {
    max-width: 95%;
    row-gap: 1em;
    column-gap: 1em;
    overflow-x: scroll;
  }
  .paintings_showcase {
    padding: 2em 0 2em 0;
  }
  #paintings_container h4 {
    font-size: 15px;
  }
  #paintings_container h1 {
    font-size: 25px;
  }
  #paintings_container {
    padding-top: 5em;
  }
  /* MODAL STYLING */
  .img-side img {
    width: 270px;
  }
  .card-img-height {
    margin: 0 1em 0 0;
    font-size: small;
  }
  .card-img-width {
    margin: 1em 0 0 0;
    font-size: small;
  }
  .card-modal .painting-modal-info {
    text-align: center;
  }
  .card-modal .painting-modal-info h2 {
    font-size: 20px;
    padding: 0 0 10px 0;
  }
  .card-modal .painting-modal-info p {
    font-size: small;
    padding: 0 0 10px 0;
    text-align: justify;
  }
  .card-modal .painting-modal-info span {
    font-size: 14px;
    padding: 0 0 20px 0;
  }
  .card-modal .painting-modal-info small {
    font-size: x-small;
  }
  .card-modal {
    grid-template-columns: 1fr;
    padding: 2em 1em;
    width: 384px;
    height: 550px;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card-modal-exit {
    font-size: small;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) {
  /* page styling */
  .card small {
    font-size: 12px;
    padding: 8px 0 0 15px;
  }
  .card img {
    width: 210px;
    height: 140px;
  }
  .card {
    width: 210px;
    height: 175px;
  }
  .paintingsDisplayFormat {
    max-width: 95%;
    row-gap: 1em;
    column-gap: 1em;
    overflow-x: scroll;
  }
  .paintings_showcase {
    padding: 2em 0 2em 0;
  }
  #paintings_container h4 {
    font-size: 15px;
  }
  #paintings_container h1 {
    font-size: 25px;
  }
  #paintings_container {
    padding-top: 5em;
  }
  /* modal styling */
  .img-side img {
    width: 200px;
  }
  .card-img-height {
    margin: 0 10px 0 0;
    font-size: small;
  }
  .card-img-width {
    margin: 10px 0 0 0;
    font-size: small;
  }
  .card-modal .painting-modal-info {
    text-align: center;
  }
  .card-modal .painting-modal-info h2 {
    font-size: 20px;
    padding: 0 0 10px 0;
    text-align: left;
  }
  .card-modal .painting-modal-info p {
    font-size: x-small;
    padding: 0 0 10px 0;
    text-align: justify;
  }
  .card-modal .painting-modal-info span {
    font-size: 9px;
    padding: 0 0 20px 0;
    text-align: left;
  }
  .card-modal .painting-modal-info small {
    font-size: x-small;
    text-align: left;
  }
  .card-modal {
    grid-template-columns: 1fr 1fr;
    column-gap: 17px;
    padding: 1em;
    width: 650px;
    height: 300px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card-modal-exit {
    font-size: small;
  }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) {
  /* page styling */
  .card small {
    font-size: 12px;
    padding: 8px 0 0 15px;
  }
  .card img {
    width: 210px;
    height: 140px;
  }
  .card {
    width: 210px;
    height: 175px;
  }
  .paintingsDisplayFormat {
    max-width: 95%;
    row-gap: 1em;
    column-gap: 1em;
    overflow-x: scroll;
  }
  .paintings_showcase {
    padding: 2em 0 2em 0;
  }
  #paintings_container h4 {
    font-size: 15px;
  }
  #paintings_container h1 {
    font-size: 25px;
  }
  #paintings_container {
    padding-top: 5em;
  }
  /* MODAL STYLING */
  .img-side img {
    width: 230px;
  }
  .card-img-height {
    margin: 0 1em 0 0;
    font-size: small;
  }
  .card-img-width {
    margin: 1em 0 0 0;
    font-size: small;
  }
  .card-modal .painting-modal-info {
    text-align: center;
  }
  .card-modal .painting-modal-info h2 {
    font-size: 20px;
    padding: 0 0 10px 0;
  }
  .card-modal .painting-modal-info p {
    font-size: small;
    padding: 0 0 10px 0;
    text-align: justify;
  }
  .card-modal .painting-modal-info span {
    font-size: 14px;
    padding: 0 0 20px 0;
  }
  .card-modal .painting-modal-info small {
    font-size: x-small;
  }
  .card-modal {
    grid-template-columns: 1fr;
    padding: 2em;
    width: 355px;
    height: 550px;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card-modal-exit {
    font-size: small;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) {
  /* page styling */
  .card small {
    font-size: 12px;
    padding: 8px 0 0 15px;
  }
  .card img {
    width: 210px;
    height: 140px;
  }
  .card {
    width: 210px;
    height: 175px;
  }
  .paintingsDisplayFormat {
    max-width: 95%;
    row-gap: 1em;
    column-gap: 1em;
    overflow-x: scroll;
  }
  .paintings_showcase {
    padding: 2em 0 2em 0;
  }
  #paintings_container h4 {
    font-size: 15px;
  }
  #paintings_container h1 {
    font-size: 25px;
  }
  #paintings_container {
    padding-top: 5em;
  }
  /* modal styling */
  .img-side img {
    width: 200px;
  }
  .card-img-height {
    margin: 0 10px 0 0;
    font-size: small;
  }
  .card-img-width {
    margin: 10px 0 0 0;
    font-size: small;
  }
  .card-modal .painting-modal-info {
    text-align: center;
  }
  .card-modal .painting-modal-info h2 {
    font-size: 20px;
    padding: 0 0 10px 0;
    text-align: left;
  }
  .card-modal .painting-modal-info p {
    font-size: x-small;
    padding: 0 0 10px 0;
    text-align: justify;
  }
  .card-modal .painting-modal-info span {
    font-size: 9px;
    padding: 0 0 20px 0;
    text-align: left;
  }
  .card-modal .painting-modal-info small {
    font-size: x-small;
    text-align: left;
  }
  .card-modal {
    grid-template-columns: 1fr 1fr;
    column-gap: 17px;
    padding: 1em;
    width: 550px;
    height: 310px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card-modal-exit {
    font-size: small;
  }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) {
  /* page styling */
  .card small {
    font-size: 12px;
    padding: 8px 0 0 15px;
  }
  .card img {
    width: 210px;
    height: 140px;
  }
  .card {
    width: 210px;
    height: 175px;
  }
  .paintingsDisplayFormat {
    max-width: 95%;
    row-gap: 1em;
    column-gap: 1em;
    overflow-x: scroll;
  }
  .paintings_showcase {
    padding: 2em 0 2em 0;
  }
  #paintings_container h4 {
    font-size: 15px;
  }
  #paintings_container h1 {
    font-size: 25px;
  }
  #paintings_container {
    padding-top: 5em;
  }
  /* MODAL STYLING */
  .img-side img {
    width: 200px;
  }
  .card-img-height {
    margin: 0 1em 0 0;
    font-size: small;
  }
  .card-img-width {
    margin: 1em 0 0 0;
    font-size: small;
  }
  .card-modal .painting-modal-info {
    text-align: center;
  }
  .card-modal .painting-modal-info h2 {
    font-size: 20px;
    padding: 0 0 10px 0;
  }
  .card-modal .painting-modal-info p {
    font-size: small;
    padding: 0 0 10px 0;
    text-align: justify;
  }
  .card-modal .painting-modal-info span {
    font-size: 14px;
    padding: 0 0 20px 0;
  }
  .card-modal .painting-modal-info small {
    font-size: x-small;
  }
  .card-modal {
    grid-template-columns: 1fr;
    padding: 2em 1em;
    width: 300px;
    height: 500px;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card-modal-exit {
    font-size: small;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) {
  /* page styling */
  .card small {
    font-size: 12px;
    padding: 8px 0 0 15px;
  }
  .card img {
    width: 210px;
    height: 140px;
  }
  .card {
    width: 210px;
    height: 175px;
  }
  .paintingsDisplayFormat {
    max-width: 95%;
    row-gap: 1em;
    column-gap: 1em;
    overflow-x: scroll;
  }
  .paintings_showcase {
    padding: 2em 0 2em 0;
  }
  #paintings_container h4 {
    font-size: 15px;
  }
  #paintings_container h1 {
    font-size: 25px;
  }
  #paintings_container {
    padding-top: 5em;
  }
  /* MODAL STYLING */
  .img-side img {
    width: 200px;
  }
  .card-img-height {
    margin: 0 10px 0 0;
    font-size: small;
  }
  .card-img-width {
    margin: 10px 0 0 0;
    font-size: small;
  }
  .card-modal .painting-modal-info {
    text-align: center;
  }
  .card-modal .painting-modal-info h2 {
    font-size: 20px;
    padding: 0 0 10px 0;
    text-align: left;
  }
  .card-modal .painting-modal-info p {
    font-size: x-small;
    padding: 0 0 10px 0;
    text-align: justify;
  }
  .card-modal .painting-modal-info span {
    font-size: 9px;
    padding: 0 0 20px 0;
    text-align: left;
  }
  .card-modal .painting-modal-info small {
    font-size: x-small;
    text-align: left;
  }
  .card-modal {
    grid-template-columns: 1fr 1fr;
    column-gap: 17px;
    padding: 1em;
    width: 520px;
    height: 250px;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card-modal-exit {
    font-size: small;
  }
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) {
  /* page styling */
  .card small {
    font-size: 12px;
    padding: 8px 0 0 15px;
  }
  .card img {
    width: 225px;
    height: 140px;
  }
  .card {
    width: 225px;
    height: 175px;
  }
  .paintingsDisplayFormat {
    max-width: 95%;
    row-gap: 1em;
    column-gap: 1em;
    overflow-x: scroll;
  }
  .paintings_showcase {
    padding: 2em 0 2em 0;
  }
  #paintings_container h4 {
    font-size: 15px;
  }
  #paintings_container h1 {
    font-size: 25px;
  }
  #paintings_container {
    padding-top: 5em;
  }
  /* MODAL STYLING */
  .img-side img {
    width: 250px;
  }
  .card-img-height {
    margin: 0 1em 0 0;
    font-size: small;
  }
  .card-img-width {
    margin: 1em 0 0 0;
    font-size: small;
  }
  .card-modal .painting-modal-info {
    text-align: center;
  }
  .card-modal .painting-modal-info h2 {
    font-size: 20px;
    padding: 0 0 10px 0;
  }
  .card-modal .painting-modal-info p {
    font-size: small;
    padding: 0 0 10px 0;
    text-align: center;
  }
  .card-modal .painting-modal-info span {
    font-size: 14px;
    padding: 0 0 20px 0;
  }
  .card-modal .painting-modal-info small {
    font-size: x-small;
  }
  .card-modal {
    grid-template-columns: 1fr;
    padding: 2em 1em;
    width: 340px;
    height: 580px;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card-modal-exit {
    font-size: small;
  }
}

/* imac---------------------------- */
@media only screen and (min-width: 2300px) and (min-height: 1250px) {
  /* page styling */
  .card small {
    padding: 8px 0 0 15px;
  }
  .card img {
    width: 450px;
    height: 310px;
  }
  .card {
    width: 450px;
    height: 350px;
  }
  .paintingsDisplayFormat {
    max-width: 80%;
    row-gap: 4em;
  }
  .paintings_showcase {
    padding: 5em 0 5em 0;
  }
  #paintings_container h1 {
    font-size: 55px;
  }
  #paintings_container {
    padding-top: 7em;
  }
  /* Modal Styling */
  .card-img-height {
    margin: 0 1em 0 0;
    padding: 5px;
  }
  .card-img-width {
    margin: 1em 0 0 0;
  }
  .card-modal .painting-modal-info {
    max-width: 90%;
  }
  .card-modal .painting-modal-info h2 {
    padding: 0 0 1em 0;
  }
  .card-modal .painting-modal-info p {
    padding: 0 0 1em 0;
    text-align: left;
  }
  .card-modal .painting-modal-info span {
    padding: 0 0 2em 0;
  }
  .card-modal {
    padding: 3em 1em;
    column-gap: 1em;
    height: 70%;
    width: 1400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card-modal-exit {
    font-size: 23px;
  }
}

/* large screens ----------------- */
@media only screen and (min-width: 1823px) and (max-width: 2300px) {
  /* page styling */
  .card small {
    padding: 8px 0 0 15px;
  }
  .card img {
    width: 400px;
    height: 260px;
  }
  .card {
    width: 400px;
    height: 300px;
  }
  .paintingsDisplayFormat {
    max-width: 90%;
    row-gap: 4em;
  }
  .paintings_showcase {
    padding: 5em 0 5em 0;
  }
  #paintings_container h1 {
    font-size: 55px;
  }
  #paintings_container {
    padding-top: 7em;
  }
  /* Modal Styling */
  .card-img-height {
    margin: 0 1em 0 0;
    padding: 5px;
  }
  .card-img-width {
    margin: 1em 0 0 0;
  }
  .card-modal .painting-modal-info {
    max-width: 90%;
  }
  .card-modal .painting-modal-info h2 {
    padding: 0 0 1em 0;
  }
  .card-modal .painting-modal-info p {
    padding: 0 0 1em 0;
    text-align: left;
  }
  .card-modal .painting-modal-info span {
    padding: 0 0 2em 0;
  }
  .card-modal {
    padding: 3em 1em;
    column-gap: 1em;
    height: 70%;
    width: 1400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card-modal-exit {
    font-size: 20px;
  }
}

/* -------1400px to 1823px------ */
@media only screen and (min-width: 1400px) and (max-width: 1823px) {
  /* page styling */
  .card small {
    padding: 8px 0 0 15px;
  }
  .card img {
    width: 375px;
    height: 240px;
  }
  .card {
    width: 375px;
    height: 275px;
  }
  .paintingsDisplayFormat {
    max-width: 95%;
    row-gap: 3em;
    column-gap: 1em;
    overflow-x: scroll;
  }
  .paintings_showcase {
    padding: 5em 0 5em 0;
  }
  #paintings_container h1 {
    font-size: 55px;
  }
  #paintings_container {
    padding-top: 7em;
  }
  /* MODAL STYLING */
  .card-img-height {
    padding: 5px;
    margin: 0 1em 0 0;
  }
  .card-img-width {
    margin: 1em 0 0 0;
  }
  .card-modal .painting-modal-info {
    max-width: 90%;
  }
  .card-modal .painting-modal-info h2 {
    padding: 0 0 1em 0;
  }
  .card-modal .painting-modal-info p {
    padding: 0 0 1em 0;
    text-align: left;
  }
  .card-modal .painting-modal-info span {
    padding: 0 0 2em 0;
  }
  .card-modal {
    padding: 3em 1em;
    column-gap: 1em;
    height: 70%;
    width: 1300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card-modal-exit {
    font-size: 20px;
  }
}

/* ------1100 to 1400------ */
@media only screen and (min-width: 1100px) and (max-width: 1400px) and (min-device-height: 1000px) {
  /* page styling */
  .card small {
    padding: 8px 0 0 15px;
  }
  .card img {
    width: 375px;
    height: 240px;
  }
  .card {
    width: 375px;
    height: 275px;
  }
  .paintingsDisplayFormat {
    max-width: 95%;
    row-gap: 3em;
    column-gap: 1em;
    overflow-x: scroll;
  }
  .paintings_showcase {
    padding: 5em 0 5em 0;
  }
  #paintings_container h1 {
    font-size: 55px;
  }
  #paintings_container {
    padding-top: 7em;
  }
  /* MODAL STYLING */
  .img-side {
    max-width: 780px;
  }
  .card-img-height {
    margin: 0 1em 0 0;
  }
  .card-img-width {
    margin: 1em 0 0 0;
  }
  .card-modal .painting-modal-info {
    text-align: center;
  }
  .card-modal .painting-modal-info h2 {
    padding: 0 0 1em 0;
  }
  .card-modal .painting-modal-info p {
    padding: 0 0 1em 0;
    text-align: center;
    max-width: 700px;
  }
  .card-modal .painting-modal-info span {
    padding: 0 0 1em 0;
  }
  .card-modal {
    grid-template-columns: 1fr;
    padding: 2em 1em;
    height: fit-content;
    width: 900px;
    height: 850px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card-modal-exit {
    font-size: 19px;
  }
}

/* ------900 to 1100------ */
@media only screen and (min-width: 900px) and (max-width: 1100px) and (min-device-height: 1000px) {
  /* page styling */
  .card small {
    padding: 8px 0 0 15px;
  }
  .card img {
    width: 375px;
    height: 240px;
  }
  .card {
    width: 375px;
    height: 275px;
  }
  .paintingsDisplayFormat {
    max-width: 95%;
    row-gap: 3em;
    column-gap: 1em;
    overflow-x: scroll;
  }
  .paintings_showcase {
    padding: 5em 0 5em 0;
  }
  #paintings_container h1 {
    font-size: 50px;
  }
  #paintings_container {
    padding-top: 7em;
  }
  /* MODAL STYLING */
  .card-img-height {
    margin: 0 1em 0 0;
  }
  .card-img-width {
    margin: 1em 0 0 0;
  }
  .card-modal .painting-modal-info {
    text-align: center;
  }
  .card-modal .painting-modal-info h2 {
    padding: 0 0 1em 0;
  }
  .card-modal .painting-modal-info p {
    padding: 0 0 1em 0;
    text-align: center;
    max-width: 700px;
  }
  .card-modal .painting-modal-info span {
    padding: 0 0 1em 0;
  }
  .card-modal {
    grid-template-columns: 1fr;
    padding: 2em;
    height: fit-content;
    width: 800px;
    height: 850px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* ------600 to 900------ */
@media only screen and (min-width: 650px) and (max-width: 900px) and (min-device-height: 1000px) {
  /* page styling */
  .card small {
    padding: 8px 0 0 15px;
  }
  .card img {
    width: 350px;
    height: 215px;
  }
  .card {
    width: 350px;
    height: 250px;
  }
  .paintingsDisplayFormat {
    max-width: 95%;
    row-gap: 3em;
    column-gap: 1em;
    overflow-x: scroll;
  }
  .paintings_showcase {
    padding: 5em 0 5em 0;
  }
  #paintings_container h1 {
    font-size: 45px;
  }
  #paintings_container {
    padding-top: 7em;
  }
  /* MODAL STYLING */
  .img-side img {
    width: 470px;
  }
  .card-img-height {
    margin: 0 1em 0 0;
  }
  .card-img-width {
    margin: 1em 0 0 0;
  }
  .card-modal .painting-modal-info {
    text-align: center;
  }
  .card-modal .painting-modal-info h2 {
    padding: 0 0 1em 0;
  }
  .card-modal .painting-modal-info p {
    padding: 0 0 1em 0;
    text-align: center;
    max-width: 500px;
  }
  .card-modal .painting-modal-info span {
    padding: 0 0 1em 0;
  }
  .card-modal {
    grid-template-columns: 1fr;
    padding: 2em;
    height: fit-content;
    width: 600px;
    height: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* ------300 to 650------ */
@media only screen and (min-width: 300px) and (max-width: 650px) and (min-device-height: 1000px) {
  /* page styling */
  .card small {
    padding: 8px 0 0 15px;
  }
  .card img {
    width: 375px;
    height: 240px;
  }
  .card {
    width: 375px;
    height: 275px;
  }
  .paintingsDisplayFormat {
    max-width: 95%;
    row-gap: 3em;
    column-gap: 1em;
    overflow-x: scroll;
  }
  .paintings_showcase {
    padding: 5em 0 5em 0;
  }
  #paintings_container h1 {
    font-size: 45px;
  }
  #paintings_container {
    padding-top: 7em;
  }
  /* MODAL STYLING */
  .img-side img {
    width: 280px;
  }
  .card-img-height {
    margin: 0 1em 0 0;
  }
  .card-img-width {
    margin: 1em 0 0 0;
  }
  .card-modal .painting-modal-info {
    text-align: center;
  }
  .card-modal .painting-modal-info h2 {
    padding: 0 0 1em 0;
  }
  .card-modal .painting-modal-info p {
    padding: 0 0 1em 0;
    text-align: center;
    max-width: 500px;
  }
  .card-modal .painting-modal-info span {
    padding: 0 0 1em 0;
  }
  .card-modal {
    grid-template-columns: 1fr;
    padding: 2em;
    height: fit-content;
    width: 400px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* for js select all card-modal 's creating a nodelist. then loop over the card nodelist (by selecting them all) and add an event listener to all of them, when they are clicked set opacity to 100 to  card-modal  at position [i]. Close the modal with an X or by pressing 'esc' key */

/* when a card modal is shown add a blur class to main and when opacity is set back to 0 (when modal is closed) remove blur class from body */

/* with all the cards selected, set their opacity to .2 when showing the modal and back to 1 when modal is closed */

/* display for card modal is set to none, when a card is chosen display the correct card by changing its display to grid */
