/* ------PANTINGS SECTION------ */
#paintings {
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}

/* fixing the painting grid assignments */
#paintings_container {
  min-height: 110vh;
  background-image: url(/pageBGs/paintingsBG3.jpg);
  background-size: cover;
  border-bottom: 1px solid lightslategray;
}
#painting_introduction {
  padding: 1em;
  align-self: center;
  grid-column: 1/2;
  grid-row: 1/2;
  margin-left: auto;
}
#painting_introduction h1 {
  font-weight: bold;
  color: var(--main-color-paintings-page);
}
#painting_discover:hover {
  background-color: rgb(236, 151, 46);
  transition: var(--ease-6);
}
#painting_discover {
  background-color: rgb(221, 160, 84);
  border: none;

  color: #fff;
  transition: var(--ease-6);
}
.painting_box a {
  text-decoration: none;
  color: var(--main-color-paintings-page);
}
.painting_box {
  transition: var(--ease-6);
}
.painting_box:hover {
  transform: scale(1.05);
  transition: var(--ease-6);
}
.painting-box2 {
  align-self: flex-end;
  padding-bottom: 2em;
}
.painting-box3 {
  align-self: flex-end;
  padding-bottom: 3em;
}

/* PAINTING DESCRIPTION */
.descriptionANDgo {
  font-size: large;
  font-family: montserat;
  font-weight: bold;
}

/* MEDIA QUERYS */

/* Pixel 2XL */
@media only screen and (min-device-width: 411px) and (max-device-height: 823px) and (orientation: portrait) {
  #painting_discover {
    width: 85px;
    height: 30px;
    font-size: x-small;
  }
  .painting_box img {
    width: 170px;
    border: 3px solid black;
  }
  .painting_box p {
    font-size: small;
  }
  .painting-box3 {
    margin: 0;
    padding: 0;
  }
  #painting_introduction {
    grid-column: 1/3;
    text-align: center;
    padding: 5em 0;
  }
  #painting_introduction h1 {
    font-size: 20px;
  }
  #paintings {
    padding: 1em;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em;
    margin: auto;
  }
}

/* Pixel 2 */
@media only screen and (min-device-width: 411px) and (max-device-height: 731px) and (orientation: portrait) {
  #painting_discover {
    width: 85px;
    height: 30px;
    font-size: x-small;
  }
  .painting_box img {
    width: 160px;
    border: 3px solid black;
  }
  .painting_box p {
    font-size: small;
  }
  .painting-box3 {
    margin: 0;
    padding: 0;
  }
  #painting_introduction {
    grid-column: 1/3;
    text-align: center;
    padding: 3em 0 3em 0;
  }
  #painting_introduction h1 {
    font-size: 20px;
  }
  #paintings {
    padding: 1em;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em;
    margin: auto;
  }
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) {
  #painting_discover {
    width: 85px;
    height: 30px;
    font-size: x-small;
  }
  .painting_box img {
    width: 150px;
    border: 3px solid black;
  }
  .painting_box p {
    font-size: small;
  }
  .painting-box3 {
    margin: 0;
    padding: 0;
  }
  #painting_introduction {
    grid-column: 1/3;
    text-align: center;
    padding: 3em 0 3em 0;
  }
  #painting_introduction h1 {
    font-size: 20px;
  }
  #paintings {
    padding: 1em;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em;
    margin: auto;
  }
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) {
  #painting_discover {
    width: 85px;
    height: 30px;
    font-size: x-small;
  }
  .painting_box img {
    width: 160px;
    border: 3px solid black;
  }
  .painting_box p {
    font-size: small;
  }
  .painting-box3 {
    margin: 0;
    padding: 0;
  }
  #painting_introduction {
    grid-column: 1/3;
    text-align: center;
    padding: 5em 0;
  }
  #painting_introduction h1 {
    font-size: 20px;
  }
  #paintings {
    padding: 1em;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em;
    margin: auto;
  }
}
/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) {
  #painting_discover {
    width: 85px;
    height: 30px;
    font-size: x-small;
  }
  .painting_box img {
    width: 160px;
    border: 3px solid black;
  }
  .painting_box p {
    font-size: small;
  }
  .painting-box3 {
    margin: 0;
    padding: 0;
  }
  #painting_introduction {
    grid-column: 1/3;
    text-align: center;
    padding: 5em 0;
  }
  #painting_introduction h1 {
    font-size: 20px;
  }
  #paintings {
    padding: 1em;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em;
    margin: auto;
  }
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 413px) and (max-device-height: 737px) and (orientation: portrait) {
  #painting_discover {
    width: 85px;
    height: 30px;
    font-size: x-small;
  }
  .painting_box img {
    width: 170px;
    border: 3px solid black;
  }
  .painting_box p {
    font-size: small;
  }
  .painting-box3 {
    margin: 0;
    padding: 0;
  }
  #painting_introduction {
    grid-column: 1/3;
    text-align: center;
    padding: 5em 0;
  }
  #painting_introduction h1 {
    font-size: 20px;
  }
  #paintings {
    padding: 1em;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em;
    margin: auto;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) {
  #painting_discover {
    width: 85px;
    height: 30px;
    font-size: x-small;
  }
  .painting_box img {
    width: 170px;
    border: 3px solid black;
  }
  .painting_box p {
    font-size: small;
  }
  .painting-box3 {
    margin: 0;
    padding: 0;
  }
  #painting_introduction {
    grid-column: 1/4;
    text-align: center;
    max-width: 65%;
    padding: 5em 0;
    margin: auto;
  }
  #painting_introduction h1 {
    font-size: 25px;
  }
  #paintings {
    padding: 1em;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1em;
    margin: auto;
  }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) {
  #painting_discover {
    width: 85px;
    height: 30px;
    font-size: x-small;
  }
  .painting_box img {
    width: 160px;
    border: 3px solid black;
  }
  .painting_box p {
    font-size: small;
  }
  .painting-box3 {
    margin: 0;
    padding: 0;
  }
  #painting_introduction {
    grid-column: 1/3;
    text-align: center;
    padding: 5em 0;
  }
  #painting_introduction h1 {
    font-size: 20px;
  }
  #paintings {
    padding: 1em;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em;
    margin: auto;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) {
  #painting_discover {
    width: 85px;
    height: 30px;
    font-size: x-small;
  }
  .painting_box img {
    width: 130px;
    border: 3px solid black;
  }
  .painting_box p {
    font-size: small;
  }
  .painting-box3 {
    margin: 0;
    padding: 0;
  }
  #painting_introduction {
    grid-column: 1/4;
    text-align: center;
    max-width: 80%;
    padding: 5em 0;
    margin: auto;
  }
  #painting_introduction h1 {
    font-size: 25px;
  }
  #paintings {
    padding: 1em;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1em;
    margin: auto;
  }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) {
  #painting_discover {
    width: 85px;
    height: 30px;
    font-size: x-small;
  }
  .painting_box img {
    width: 130px;
    border: 3px solid black;
  }
  .painting_box p {
    font-size: small;
  }
  .painting-box3 {
    margin: 0;
    padding: 0;
  }
  #painting_introduction {
    grid-column: 1/3;
    text-align: center;
    padding: 5em 0;
  }
  #painting_introduction h1 {
    font-size: 20px;
  }
  #paintings {
    padding: 1em;
    grid-template-columns: 1fr 1fr;
    row-gap: 1em;
    margin: auto;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) {
  #painting_discover {
    width: 85px;
    height: 30px;
    font-size: x-small;
  }
  .painting_box img {
    width: 160px;
    border: 3px solid black;
  }
  .painting_box p {
    font-size: small;
  }
  .painting-box3 {
    margin: 0;
    padding: 0;
  }
  #painting_introduction {
    grid-column: 1/4;
    text-align: center;
    padding: 5em 0;
    max-width: 70%;
    margin: auto;
  }
  #painting_introduction h1 {
    font-size: 20px;
    padding-top: 1em;
  }
  #paintings {
    padding: 1em;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1em;
    margin: auto;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 1024px) and (max-device-height: 768px) {
  .painting-box1 {
    align-self: center;
    margin: auto;
  }
  .painting-box4 {
    padding-left: 3em;
    margin: auto;
  }
  #painting_discover {
    width: 125px;
    height: 50px;
  }
  .painting_box img {
    width: 180px;
    border: 5px solid black;
  }
  #painting_introduction {
    /* max-width: 250px; */
    grid-column: 1/3;
    margin: 0;
  }
  #painting_introduction h1 {
    font-size: 35px;
  }
  #paintings {
    max-width: 900px;
    margin: auto;
  }
}

/* desktops and laptops */
/* large screens ----------------- */
@media only screen and (min-width: 1823px) {
  /* ------PAINTING PAGE------ */
  #paintings_container {
    padding: 10vh 0;
  }
  .painting-box4 {
    margin: auto;
  }
  .painting-box1 {
    grid-row: 1/3;
    align-self: center;
    margin: auto;
  }
  #painting_discover {
    width: 125px;
    height: 50px;
  }
  .painting_box img {
    width: 280px;
    border: 5px solid black;
  }
  #painting_introduction {
    max-width: 250px;
  }
  #painting_introduction h1 {
    font-size: 40px;
  }
  #paintings {
    max-width: 1400px;
    margin: auto;
  }
}

/* -------1400px to 1823px------ */
@media only screen and (min-width: 1400px) and (max-width: 1823px) {
  /* ------PAINTING PAGE------ */
  .painting-box4 {
    margin: auto;
  }
  .painting-box1 {
    grid-row: 1/3;
    align-self: center;
    margin: auto;
  }
  #painting_discover {
    width: 125px;
    height: 50px;
  }
  .painting_box img {
    width: 250px;
    border: 5px solid black;
  }
  #painting_introduction {
    max-width: 250px;
  }
  #paintings {
    max-width: 1400px;
    margin: auto;
  }
}

/* ------900 to 1400------ */
@media only screen and (min-width: 900px) and (max-width: 1400px) and (min-device-height: 1000px) {
  /* ------PAINTING PAGE------ */
  .painting-box1 {
    grid-row: 1/3;
    align-self: center;
    margin: auto;
  }
  .painting-box4 {
    padding-left: 3em;
    margin: auto;
  }
  #painting_discover {
    width: 125px;
    height: 50px;
  }
  .painting_box img {
    width: 180px;
    border: 5px solid black;
  }
  #painting_introduction {
    max-width: 250px;
  }
  #painting_introduction h1 {
    font-size: 35px;
  }
  #paintings {
    max-width: 900px;
    margin: auto;
  }
}

/* ------600 to 900------ */
@media only screen and (min-width: 650px) and (max-width: 900px) and (min-device-height: 1000px) {
  /* ------PAINTING PAGE------ */
  #painting_discover {
    width: 125px;
    height: 50px;
  }
  .painting_box img {
    width: 250px;
    border: 4px solid black;
  }
  #painting_introduction {
    grid-column: 1/3;
    text-align: center;
    padding: 3em 0;
  }
  #painting_introduction h1 {
    font-size: 35px;
  }
  #paintings {
    column-gap: 5em;
    padding: 2em;
    grid-template-columns: 1fr 1fr;
    max-width: 630px;
    row-gap: 3em;
    margin: auto;
  }
}

/* ------300 to 650------ */
@media only screen and (min-width: 300px) and (max-width: 650px) and (min-device-height: 1000px) {
  /* ------PAINTING PAGE------ */
  #painting_discover {
    width: 100px;
    height: 40px;
    font-size: small;
  }
  .painting_box {
    max-width: fit-content;
    margin: auto;
  }
  .painting_box img {
    width: 400px;
    border: 4px solid black;
  }
  #painting_introduction {
    text-align: center;
    padding: 5em 0 5em 0;
  }
  #painting_introduction h1 {
    font-size: 28px;
  }
  #paintings {
    padding: 1em;
    grid-template-columns: 1fr;
    row-gap: 1em;
    margin: auto;
  }
}

/* UNDER 300 */
@media only screen and (max-width: 300px) {
  /* ------PAINTING PAGE------ */
  #painting_discover {
    width: 100px;
    height: 40px;
    font-size: small;
  }
  .painting_box img {
    width: 150px;
    border: 3px solid black;
  }
  #painting_introduction {
    text-align: center;
    padding: 7em 0;
  }
  #painting_introduction h1 {
    font-size: 28px;
  }
  #paintings {
    padding: 1em;
    grid-template-columns: 1fr;
    max-width: 250px;
    row-gap: 1em;
    margin: auto;
  }
}
