html {
  scroll-behavior: smooth;
}

/* navbar */
#topbar {
  background-color: #1d1d1fea;
  width: 100%;
  height: fit-content;
}

#navbar ul li a {
  color: #d5d5d6;
}
#navbar ul li a:hover {
  color: #fff;
}

#open_modal {
  color: #d5d5d6;
  transition: var(--ease-3);
}
#open_modal:hover {
  transition: var(--ease-3);
  color: #fff;
}

/* categories navbar */
#categories {
  font-family: "SF pro", Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
}
#categories ul {
  justify-content: space-evenly;
  display: flex;
  align-content: center;
  margin: 0;
}
#categories ul li {
  list-style: none;
}
#categories ul li a {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  color: #333;
  font-size: small;
  font-weight: 400;
}
#categories ul li a:hover {
  text-decoration: underline;
}

/* photography showcasing */
#photos_container {
  font-family: "SF pro", Arial, Helvetica, sans-serif;
  text-align: center;
  /* position: relative; */
}

.photos_showcase {
  display: grid;
  margin: auto;
  width: fit-content;
}

/* to top shortcut icon */

#shortcut {
  position: fixed;
  bottom: 3%;
  left: 49.2%;
  transform: translate(-49.2%, 3em);
  transition: var(--ease-3);
  font-size: xx-large;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.92);
}

#shortcut:hover {
  color: rgba(90, 90, 90, 0.92);
  transition: var(--ease-3);
}

/* MEDIA QUERIES */

@media only screen and (min-device-width: 1024px) and (max-device-height: 768px) and (orientation: landscape) {
  #categories ul li a {
    font-size: 8.5px;
  }
  #categories ul {
    padding: 2px 2em;
  }
  #photos_container {
    padding: 1vh 0;
  }
  #photos_container h1 {
    padding-bottom: 1em;
    font-size: large;
  }
  .photography-category {
    padding: 2em;
  }
  .photos_showcase img {
    width: 95%;
  }
  .photos_showcase {
    row-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Pixel 2XL */
@media only screen and (min-device-width: 411px) and (max-device-height: 823px) and (orientation: portrait) {
  #categories ul li a {
    font-size: 8.5px;
  }
  #categories ul {
    padding: 2px 2em;
  }
  #photos_container {
    padding: 1vh 0;
  }
  #photos_container h1 {
    padding-bottom: 1em;
    font-size: large;
  }
  .photography-category {
    padding: 2em;
  }
  .photos_showcase img {
    width: 95%;
  }
  .photos_showcase {
    row-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Pixel 2 */
@media only screen and (min-device-width: 411px) and (max-device-height: 731px) and (orientation: portrait) {
  #categories ul li a {
    font-size: 8.5px;
  }
  #categories ul {
    padding: 2px 2em;
  }
  #photos_container {
    padding: 1vh 0;
  }
  #photos_container h1 {
    padding-bottom: 1em;
    font-size: large;
  }
  .photography-category {
    padding: 2em;
  }
  .photos_showcase img {
    width: 95%;
  }
  .photos_showcase {
    row-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation: portrait) {
  #categories ul li a {
    font-size: 8.5px;
  }
  #categories ul {
    padding: 2px 2em;
  }
  #photos_container {
    padding: 1vh 0;
  }
  #photos_container h1 {
    padding-bottom: 1em;
    font-size: large;
  }
  .photography-category {
    padding: 2em;
  }
  .photos_showcase img {
    width: 95%;
  }
  .photos_showcase {
    row-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation: portrait) {
  #categories ul li a {
    font-size: 8.5px;
  }
  #categories ul {
    padding: 2px 2em;
  }
  #photos_container {
    padding: 1vh 0;
  }
  #photos_container h1 {
    padding-bottom: 1em;
    font-size: large;
  }
  .photography-category {
    padding: 2em;
  }
  .photos_showcase img {
    width: 95%;
  }
  .photos_showcase {
    row-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation: portrait) {
  #categories ul li a {
    font-size: 8.5px;
  }
  #categories ul {
    padding: 2px 2em;
  }
  #photos_container {
    padding: 1vh 0;
  }
  #photos_container h1 {
    padding-bottom: 1em;
    font-size: large;
  }
  .photography-category {
    padding: 2em;
  }
  .photos_showcase img {
    width: 95%;
  }
  .photos_showcase {
    row-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 413px) and (max-device-height: 737px) and (orientation: portrait) {
  #categories ul li a {
    font-size: 8.5px;
  }
  #categories ul {
    padding: 2px 2em;
  }
  #photos_container {
    padding: 1vh 0;
  }
  #photos_container h1 {
    padding-bottom: 1em;
    font-size: large;
  }
  .photography-category {
    padding: 2em;
  }
  .photos_showcase img {
    width: 95%;
  }
  .photos_showcase {
    row-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation: landscape) {
  #categories ul li a {
    font-size: 8.5px;
  }
  #categories ul {
    padding: 2px 2em;
  }
  #photos_container {
    padding: 1vh 0;
  }
  #photos_container h1 {
    padding-bottom: 1em;
    font-size: large;
  }
  .photography-category {
    padding: 2em;
  }
  .photos_showcase img {
    width: 95%;
  }
  .photos_showcase {
    row-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: portrait) {
  #categories ul li a {
    font-size: 8.5px;
  }
  #categories ul {
    padding: 2px 2em;
  }
  #photos_container {
    padding: 1vh 0;
  }
  #photos_container h1 {
    padding-bottom: 1em;
    font-size: large;
  }
  .photography-category {
    padding: 2em;
  }
  .photos_showcase img {
    width: 95%;
  }
  .photos_showcase {
    row-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation: landscape) {
  #categories ul li a {
    font-size: 8.5px;
  }
  #categories ul {
    padding: 2px 2em;
  }
  #photos_container {
    padding: 1vh 0;
  }
  #photos_container h1 {
    padding-bottom: 1em;
    font-size: large;
  }
  .photography-category {
    padding: 2em;
  }
  .photos_showcase img {
    width: 95%;
  }
  .photos_showcase {
    row-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: portrait) {
  #categories ul li a {
    font-size: 8.5px;
  }
  #categories ul {
    padding: 2px 2em;
  }
  #photos_container {
    padding: 1vh 0;
  }
  #photos_container h1 {
    padding-bottom: 1em;
    font-size: large;
  }
  .photography-category {
    padding: 2em;
  }
  .photos_showcase img {
    width: 95%;
  }
  .photos_showcase {
    row-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation: landscape) {
  #categories ul li a {
    font-size: 8.5px;
  }
  #categories ul {
    padding: 2px 2em;
  }
  #photos_container {
    padding: 1vh 0;
  }
  #photos_container h1 {
    padding-bottom: 1em;
    font-size: large;
  }
  .photography-category {
    padding: 2em;
  }
  .photos_showcase img {
    width: 95%;
  }
  .photos_showcase {
    row-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* imac---------------------------- */
@media only screen and (min-width: 2300px) and (min-height: 1250px) {
  #categories ul {
    padding: 7px 25em;
  }
  #photos_container {
    padding: 5vh 0;
  }
  #photos_container h1 {
    padding-bottom: 2em;
    font-size: 45px;
  }
  .photography-category {
    padding: 4em;
  }
  .photos_showcase {
    display: block;
  }
}

/* large screens ----------------- */
@media only screen and (min-width: 1823px) and (max-width: 2300px) {
  #categories ul {
    padding: 7px 25em;
  }
  #photos_container {
    padding: 5vh 0;
  }
  #photos_container h1 {
    padding-bottom: 2em;
  }
  .photography-category {
    padding: 4em;
  }
  .photos_showcase img {
    width: 95%;
  }
  .photos_showcase {
    row-gap: 11px;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* -------1400px to 1823px------ */
@media only screen and (min-width: 1400px) and (max-width: 1823px) {
  #categories ul {
    padding: 7px 18em;
  }
  #photos_container {
    padding: 4vh 0;
  }
  #photos_container h1 {
    padding-bottom: 1.5em;
  }
  .photography-category {
    padding: 4em;
  }
  .photos_showcase img {
    width: 95%;
  }
  .photos_showcase {
    row-gap: 11px;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ------900 to 1400------ */
@media only screen and (min-width: 900px) and (max-width: 1400px) and (min-device-height: 1000px) {
  #categories ul {
    padding: 7px 10em;
  }
  #photos_container {
    padding: 4vh 0;
  }
  #photos_container h1 {
    padding-bottom: 1.5em;
  }
  .photography-category {
    padding: 4em;
  }
  .photos_showcase img {
    width: 95%;
  }
  .photos_showcase {
    row-gap: 11px;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ------600 to 900------ */
@media only screen and (min-width: 650px) and (max-width: 900px) and (min-device-height: 1000px) {
  #categories ul {
    padding: 7px 2em;
  }
  #photos_container {
    padding: 2vh 0;
  }
  #photos_container h1 {
    padding-bottom: 1em;
  }
  .photography-category {
    padding: 3em;
  }
  .photos_showcase img {
    width: 95%;
  }
  .photos_showcase {
    row-gap: 11px;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ------300 to 650------ */
@media only screen and (min-width: 300px) and (max-width: 650px) and (min-device-height: 1000px) {
  #categories ul {
    padding: 7px 2em;
  }
  #photos_container {
    padding: 1vh 0;
  }
  #photos_container h1 {
    padding-bottom: 1em;
  }
  .photography-category {
    padding: 3em;
  }
  .photos_showcase img {
    width: 95%;
  }
  .photos_showcase {
    row-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
  }
}
