@font-face {
  font-family: "montserat";
  src: url(/Montserrat/Montserrat-Black.ttf);
  src: url(/Montserrat/Montserrat-BlackItalic.ttf);
  src: url(/Montserrat/Montserrat-Bold.ttf);
  src: url(/Montserrat/Montserrat-BoldItalic.ttf);
  src: url(/Montserrat/Montserrat-ExtraBold.ttf);
  src: url(/Montserrat/Montserrat-ExtraBoldItalic.ttf);
  src: url(/Montserrat/Montserrat-ExtraLight.ttf);
  src: url(/Montserrat/Montserrat-ExtraLightItalic.ttf);
  src: url(/Montserrat/Montserrat-Italic.ttf);
  src: url(/Montserrat/Montserrat-Light.ttf);
  src: url(/Montserrat/Montserrat-LightItalic.ttf);
  src: url(/Montserrat/Montserrat-Medium.ttf);
  src: url(/Montserrat/Montserrat-MediumItalic.ttf);
  src: url(/Montserrat/Montserrat-Regular.ttf);
  src: url(/Montserrat/Montserrat-SemiBold.ttf);
  src: url(/Montserrat/Montserrat-SemiBoldItalic.ttf);
  src: url(/Montserrat/Montserrat-Thin.ttf);
  src: url(/Montserrat/Montserrat-ThinItalic.ttf);
}

:root {
  --ease-9: all 0.9s ease;
  --ease-6: all 0.6s ease;
  --ease-3: all 0.3s ease;
  --main-color: black;
  --hover-color: purple;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
/* -----------LANDING PAGE---------- */
#landing_page {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.2), white),
    url(/olga-thelavart-HZm2XR0whdw-unsplash.jpg);
  background-size: cover;
  overflow-x: hidden;
}

/* ------TOPBAR STYLING------ */
#topbar {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  padding: 1em 0;
}
#contact_info {
  margin: auto;
}
#contact_info i {
  color: black;
  transition: var(--ease-3);
}
#contact_info i:hover {
  color: var(--hover-color);
  transition: var(--ease-3);
}

/* PAGE LOGO */
#business_logo {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: fit-content;
}
#business_logo img {
  width: 150px;
  margin-right: 50px;
}
#business_logo span {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

/* NAVBAR */
#navbar {
  flex: 2;
}
#navbar ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
#navbar ul li a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
  transition: var(--ease-3);
}
#navbar ul li a:hover {
  color: var(--hover-color);
  transition: var(--ease-3);
}

/* VIEW ART BTN */
#landing_btn {
  flex: 1;
  max-width: fit-content;
}

/* ------LANDING PAGE HOOK------ */
#landing_hook {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em 0;
  font-family: montserat, sans-serif;
}
#landing_hook h2 {
  font-weight: bold;
  margin: 0;
  text-decoration: underline;
}
#landing_hook h1 {
  font-weight: normal;
  margin: 0;
  font-family: serif;
}
#landing_hook p {
  font-weight: bold;
  text-align: center;
}

/* ------LANDING IMGS CAROUSEL------ */
#landing_img_carousel {
  padding: 0 0 5em 0;
  max-width: 800px;
  margin: auto;
}

/* ------------SECOND PAGE------------ */
/* ------BUSINESS HOURS------ */
#business_hours_container {
  background-color: rgba(231, 156, 69, 0.466);
  padding: 2em 1em;
}
#businessHours {
  display: flex;
  align-items: center;
  margin: 0;
  flex-wrap: nowrap;
}

.dateCard {
  border-radius: 0.7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  background-color: rgb(255, 255, 255);
  transition: var(--ease-3);
}
.dateCard span {
  font-weight: bold;
}
#closed_interval {
  text-align: center;
  margin: 0;
  font-size: x-large;
}

/* ------COLLECTIVE STYLING------ */
.light-btn {
  cursor: pointer;
  width: 110px;
  height: 38px;
  background: transparent;
  outline: none;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  font-weight: bold;
  transition: var(--ease-6);
}
.light-btn:hover {
  background-color: var(--main-color);
  color: #fff;
  transition: var(--ease-6);
}

/* ------MEDIA QUERYs------ */

/* ------LANDING PAGE------ */
/* 14000 AND UP */
@media only screen and (min-width: 1400px) {
  /* TOP BAR STYLE */
  #contact_info {
    max-width: fit-content;
  }
  #contact_info i {
    font-size: xx-large;
    margin-right: 30px;
  }
  #topbar {
    max-width: 1300px;
    margin: auto;
  }
  /* LANDING PAGE HOOK STYLE */
  #landing_hook h2 {
    font-weight: bold;
    font-size: 35px;
  }
  #landing_hook h1 {
    font-weight: normal;
    font-size: 260px;
    margin: 0;

    text-shadow: 7px 10px 10px rgba(0, 0, 0, 0.397);
  }
  #landing_hook p {
    font-size: 50px;
  }
  /* LANDING PAGE IMG CARDS */
  #landing_img_carousel img {
    width: 800px;
    height: 500px;
  }
  /* ------BUSSINESS HOURS PAGE------ */
  #businessHours {
    height: 35vh;
    max-width: 1350px;
    margin: auto;
    padding: 3em 0;
  }
  #businessHours h3 {
    font-size: 35px;
    max-width: 150px;
    font-weight: bold;
  }
  .dateCard {
    width: 150px;
    height: 200px;
  }
  .dateCard span {
    font-size: 28px;
  }
  /* BUSINESS HOURS */
}

/* 900 TO 1400 */
@media only screen and (min-width: 900px) and (max-width: 1400px) {
  /* TOP BAR */
  #contact_info {
    max-width: fit-content;
  }
  #contact_info i {
    font-size: xx-large;
    margin-right: 30px;
  }
  #topbar {
    margin: auto;
    max-width: 1000px;
  }
  /* LANDING PAGE HOOK */
  #landing_hook h1 {
    font-size: 100px;
  }
  #landing_hook p {
    font-size: x-large;
  }
  /* landing page img carousel */
  #landing_img_carousel img {
    width: 800px;
    height: 500px;
  }
  /* BUSINESS HOURS */
  #businessHours {
    height: 25vh;
    max-width: 950px;
    margin: auto;
  }
  #businessHours h3 {
    font-size: 30px;
    font-weight: bold;
  }
  .dateCard {
    width: 150px;
    height: 180px;
    font-size: small;
    padding: 0 10px;
  }
  .dateCard span {
    font-size: 28px;
  }
}

/* 600 TO 900 */
@media only screen and (min-width: 650px) and (max-width: 900px) {
  /* TOP BAR */
  #contact_info {
    max-width: fit-content;
  }
  #contact_info i {
    font-size: x-large;
    margin-right: 30px;
    padding: 1em 0;
  }
  #topbar {
    margin: auto;
    max-width: 750px;
  }
  #landing_btn {
    display: none;
  }
  /* LANDING PAGE HOOK */
  #landing_hook {
    margin: 0;
  }
  #landing_hook h1 {
    font-size: 100px;
  }
  #landing_hook p {
    font-size: x-large;
  }
  /* LANDING PAGE CAROUSEL */
  #landing_img_carousel {
    margin: auto;
    max-width: 600px;
  }
  /* BUSINESS HOURS */
  #businessHours {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    width: fit-content;
    margin: auto;
    column-gap: 1em;
    row-gap: 2em;
    text-align: center;
  }
  #businessHours h3 {
    font-size: 30px;
    font-weight: bold;
    grid-column: 1/5;
  }
  .dateCard {
    width: 120px;
    height: 180px;
    font-size: small;
    padding: 0 10px;
  }
  .dateCard span {
    font-size: 28px;
  }
  #closed_interval {
    padding: 2em 0;
  }
}

/* 300 TO 650 */
@media only screen and (min-width: 300px) and (max-width: 650px) {
  /* TOP BAR */
  #contact_info {
    max-width: fit-content;
  }
  #contact_info i {
    font-size: large;
    margin-right: 15px;
  }
  #navbar ul li a {
    font-size: small;
  }
  #topbar {
    margin: auto;
    max-width: 300px;
  }
  #topbar ul li:nth-child(odd) {
    display: none;
  }
  #landing_btn {
    display: none;
  }
  #business_logo img {
    width: 70px;
    margin-right: 10px;
  }
  #business_logo span {
    font-size: small;
  }
  /* LANDING PAGE HOOK */
  #landing_hook {
    margin: 2em 0;
  }
  #landing_hook h1 {
    font-size: 80px;
  }
  /* LANDING PAGE CAROUSEL */
  #landing_img_carousel {
    margin: auto;
    max-width: 280px;
  }
  /* BUSINESS HOURS */
  #businessHours {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    margin: auto;
    column-gap: 0.1em;
    row-gap: 1em;
    text-align: center;
  }
  #businessHours h3 {
    font-size: 20px;
    font-weight: bold;
    grid-column: 1/3;
  }
  .dateCard {
    width: 100px;
    height: 140px;
    font-size: small;
  }
  #businessHours .dateCard h5 {
    font-size: small;
  }
  .dateCard span {
    font-size: 20px;
  }
  #closed_interval {
    padding: 2em 0;
    font-size: small;
  }
}

/* UNDER 300 */
@media only screen and (max-width: 300px) {
  #contact_info {
    max-width: fit-content;
  }
  #contact_info i {
    font-size: small;
    margin-right: 7px;
  }
  #topbar {
    max-width: 250px;
    margin: auto;
  }
  #navbar ul li:nth-child(odd) {
    display: none;
  }
  #business_logo img {
    width: 50px;
    margin: 0;
  }
  #business_logo span {
    font-size: x-small;
  }
  #landing_btn {
    display: none;
  }
  #navbar ul li a {
    font-size: x-small;
  }
  /* BUSINESS HOURS */
  #businessHours {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
    margin: auto;
    column-gap: 0.1em;
    row-gap: 1em;
    text-align: center;
  }
  #businessHours h3 {
    font-size: 20px;
    font-weight: bold;
    grid-column: 1/3;
  }
  .dateCard {
    width: 100px;
    height: 140px;
    font-size: small;
  }
  #businessHours .dateCard h5 {
    font-size: small;
  }
  .dateCard span {
    font-size: 20px;
  }
  #closed_interval {
    padding: 2em 0;
    font-size: small;
  }
}
